// NewPost.module.scss
.newPost {
    width: 938px;
    min-height: 701px;
    background-color: white;
    padding: 32px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.7s;
  }
  
  .newPostTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 21px;
  }
  
  .postForm {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  
    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #262626;
    }
  
    input {
      height: 40px;
      width: 874px;
      padding-left: 10px;
      border-radius: 5px;
      border: 1px solid gray;
    }
  
    textarea {
      height: 168px;
      padding: 10px;
      resize: none;
      border-radius: 5px;
    }
  }
  
  .tags {
    display: flex;
    flex-direction: column;
  
    label {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  
    input {
      width: 300px;
      height: 40px;
      margin-right: 20px;
      margin-bottom: 10px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .addTag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tagBtn {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid red;
    color: red;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .addTagBtn {
    border: 1px solid blue;
    color: blue;
  }
  
  .sendPost {
    color: white;
    background-color: #1890ff;
    border-radius: 5px;
    width: 320px;
    height: 40px;
    margin-top: auto;
    cursor: pointer;
    border: none;
  }
  
  .errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }