.header{
   color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background-color: white;
    font-family: 'Inter';
    min-width: 100vw;
   
}
.logo{
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
&:hover{
    transform: scale(1.1);
   transition: all 0.5s;
}
}
.buttons{
    display: flex;
    gap: 10px;
    font-family: "Inter";
    align-items: center;
}
.signUp{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 51px;
    width: 109px;
    background-color: white;
    color: #52C41A;
    border-color: #52C41A;
    border: 1px solid;
    border-radius: 5px;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;

    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        transition: all 0.5s;
    }
}
.signIn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0;
    height: 51px;
    width: 109px;
    background-color: white;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        transition: all 0.5s;
    }
}   

.logOut{
    color: black;
    border-color: black;
    border: 1px solid;
    border-radius: 5px;
}
.create{
    background-color: white;
    height: 32px;
    width:113px;
    color: #52C41A;
    border-color: #52C41A;
    border: 1px solid;
    border-radius: 5px;
    font-family: Inter;
font-weight: 400;
font-size: 14px;
line-height: 22px;
letter-spacing: 0px;
vertical-align: middle;
cursor: pointer;
&:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    height: 50px;
    margin: 0 27px;
    
    // Добавляем обработку переполнения контента
    overflow: hidden; // Заменяем text-overflow: hidden
    
    &-name {
      width: 80px;
      // Исправляем свойства для корректного отображения многоточия
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: end;
      // Опционально: добавляем минимальную ширину
      min-width: 50px; // Чтобы не сжималось слишком сильно
    }
    
    // Добавляем стили для изображения (если есть)
    &-image {
        height: 46px;
        width: 46px;
      flex-shrink: 0; // Запрещаем сжатие изображения
      object-fit: cover;
      border-radius: 50%; // Для правильного отображения
    }
  }