.post {
    height: 140px;
    width: 940px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  animation: fadeIn ease 0.5s;
    &Header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  
    &Author {
      display: flex;
      align-items: center;
    }
  
    &Title {
      font-size: 20px;
      line-height: 28px;
      color: #1890FF;
      display: inline-block;
      vertical-align: middle;
    }
  
    &Likes {
      margin-left: 10px;
      vertical-align: middle;
      background: none;
      border: none;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      padding: 0;
    }
  
    &Tags {
      display: flex;
      gap: 5px;
      margin: 5px 0;
    }
  
    &Body {
      width: 682px;
      height: 48px;

      font-size: 12px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.75);
      height: 44px; // 2 строки (22px * 2)
      overflow: hidden;
      line-clamp: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  
  .author {
    &Info {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      align-items: flex-end;
    }
  
    &Name {
      font-size: 18px;
      line-height: 28px;
      white-space: nowrap;
    }
  
    &Pic {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
  
  .tag {
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 2px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
  }
  
  .postDate {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }
  
  .likeIcon {
    font-size: 16px;
    transition: color 0.3s ease;
  
    &Active {
      color: #ff69b4;
      font-size: 16px;
      transition: color 0.3s ease;
    }
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  